# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/*
build_win/*
build_unix/*
.vscode/*
.vs/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim temp file
*.un~
*.DS_Store
*.swp

# xlearn output
.bin
.out
.model

# R-package
*.Rhistory
*.tar.gz
xlearn/*
